*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* ------------index ----------------*/
header{
    background-color: black;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
}

header a{
    text-decoration: none;
}

header a p{
    color: white;
    font-family: 'Permanent Marker', cursive;
    font-size: 50px;
    padding-top: 0px;
    text-decoration: none;
    list-style: none;
}

header a p:hover{
    color: red;
}

nav ul{
    list-style: none;
    text-decoration: none;
    padding-top: 20px;
}

nav ul li{
    display: inline;
    font-size: 25px;
    padding: 5px 5px;
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-family: 'Familjen Grotesk', sans-serif;
    }

nav ul li a:hover{
    color: red;
}

.fondo {
    background-image: url(../assets/img/CANCHA.JPG);
    height: 500px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:bottom;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    
}

h1 {
    font-family: 'Permanent Marker', cursive;
    font-size: 70px;
    color: red;
    grid-column: 1/2;
    grid-row: 1/2;
    padding-left: 20px;
    padding-top: 50px;
}


.quienesSomos{
    text-align: center;
}

.quienesSomos h2{
    font-family: 'Familjen Grotesk', sans-serif;
    font-size: 60px;
    padding-top: 60px;
}

.quienesSomos p{
    font-family: 'Glegoo', serif;
    font-size: 30px;
    margin-top: 20px;
}

.fondoColor{
    background-color: rgb(207, 204, 204);
    width: 100%;
}

.socios {  
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 60px;
    margin-top: 30px;
}

.socios div{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.socios div img{
    border: 1px solid white ;
    border-radius: 50%;
    width: 400px;
}

.socios div h3{
    font-family: 'Familjen Grotesk', sans-serif;
    font-size: 30px;
}

.socios div div p{
    font-family: 'Glegoo', serif;
    font-size: 25px;
}

.redes {
    background-color: black;
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content:center
}

.redes div a img{
    width: 50px;
    padding-top: 2px;
    margin: 3px;
}
/* --------------servicios------------------- */

.fondoDos{
    background-image: url(../assets/img/foto\ pelota2.jpg);
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center
}

.fondoDos h2{
    font-family: 'Familjen Grotesk', sans-serif;
    font-size: 80px;
    text-align: center;
    padding-top: 100px;    
}

.servicios {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 700px;

}

.servicios div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: white;
    align-items: center;
    border-radius: 50px;
    overflow: auto;
    width: 600px;
    margin: 100px;
}

.servicios div img{
    width: 300px;
    height: 300px;
}

.servicios div h3{
    font-family: 'Familjen Grotesk', sans-serif;
    font-size: 30px;
    text-align: center;
}

.servicios div p{
    font-family: 'Glegoo', serif;
    font-size: 25px;
    text-align: center;
}

/* -------------------CASOS------------------ */
.jugadores {
    display: flex;
    flex-direction: column;
}

.juadores section div{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.jugadores section div img{
    width: 300px;
    border-radius: 50%;
    margin-top: 30px;
}

.juador{
    font-family: 'Familjen Grotesk', sans-serif;
    font-size: 40px;
    margin-top: 30px;
    padding: 10px;
}

.lucas {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    justify-items: center;
}

.texto {
    text-align: center;
    width: 500px;
}

.descripcion {
    font-family: 'Glegoo', serif;
    font-size: 25px;
    
}

.cursiva {
    font-family: 'Hi Melody', cursive;
    font-size: 30px;
    margin: 15px;
}

.video{
    margin: 50px;
    align-items: center;
}

/* ---------------CONTACTANOS----------------- */
.contactos{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.contactos section {
    background-color: white;
    border-color: rgb(79, 76, 76);
    width: 800px;
    margin: 100px;
}


.logos div{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
}

.logos div img{
    width: 150px;
}

.logos p{
    font-size: 40px;
    padding-left: 50px;
    font-family: 'Glegoo', serif;

}

.donde h3{
    font-family: 'Familjen Grotesk', sans-serif;
    font-size: 35px;
    text-align: center;
    padding: 20px;
}

.mapa {
    padding-left: 100px;
}

/* ---------------POSTULATE----------------- */

.formulario{
    justify-content: center;
}

fieldset{
    width: 80%;
    height: 700px;
    margin: auto;
    font-size: 30px;

}

legend {
    font-size: 50px;
    text-align: center;
}
input {
    width: 300px;
    height: 80px;
    font-size: 30px;
}
.parte{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    margin: 70px;
}

.parteUno {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 70px;
}

.parteDos {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 70px
}

.enviar{
    width: 100%;
}

.enviar input{ 
    width: 100%;
    color:gray;
    background-color: black;
    font-size: 50px;
}

@media (max-width:768px){

    /* --------------index----------------- */

    header{
        height: 50px;
        align-items: center;
    }

    header a p {
        font-size: 25px;
    }

    nav ul {
        padding-top: 0px;
        margin-right: 10px;
    }

    nav ul li{
        font-size: 15px;
        }

    .fondo {
        height: 200px
    }

    h1 {
        font-size: 45px;
        padding: 40px 60px;
    }

    .fondoColor {
        width: 100%;
    }

    .quienesSomos{
        text-align:center
    }

    .quienesSomos h2{
        font-size: 30px;
        margin-top: 0px;
        padding-top: 15px;
    }

    .quienesSomos p{
        font-size: 15px;
        margin-top: 10px;
        width: 100%
    }

    .socios {  
        padding: 25px;
        margin-top: 10px;
    }


    .socios div img{
        width: 200px;
    }

    .socios div h3{
        font-size: 20px;
    }

    .socios div p {
        font-size: 10px;
    }

    .redes {
        height: 40px;
    }

    .redes div a img{
        width: 30px
    }

    /* --------------------servicios ----------*/

    .fondoDos {
        height: 150px;
    }

    .fondoDos h2{
        font-size: 50px;
        padding-top: 40px;
    }

    .servicios{
        height: 500px;
    }

    .servicios div{
        width: 450px;
        margin: 30px;
    }

    .servicios div img{
        width: 200px;
        height: 200px;
    }

    .servicios div h3{
        font-size: 18px;
    }

    .servicios div p{
        font-size: 15px;
    }
}

@media (max-width:320px){

    /* ---------------INDEX----------------- */
    header {
        height: 30px;
    }

    header a p {
        font-size: 15px;
    }

    nav ul {
        padding-top: 0px;
    }

    nav ul li{
        font-size: 6px;
    }

    .fondo{
        height: 100px;
    }

    h1{
        font-size: 25px;
        padding: 30px 30px;
    }

    .quienesSomos h2{
        font-size: 20px;
        padding-top: 5px;
    }

    .quienesSomos p{
        font-size: 10px;
        margin-top: 5px;
    }

    .socios{
        padding: 10px;
        margin-top: 5px;
        height: 300px;
        flex-direction: column;
        justify-content:space-evenly;
    }

    .socios div{
        flex-direction: row;
        margin: 10px;
        
    }

    .socios div img{
        width: 80px;
    }

    .socios div h3{
        font-size: 15px;
        margin: 20px;
        text-align: center;
    }

    .socios div div{
        display: flex;
        flex-direction: column;
    }

    .socios div p{
        font-size: 5px;
        flex-direction: column;
    }

    .redes{
        height: 25px;
    }

    .redes div a img{
        width: 20px;
        padding-top: 0px;
    }

    /* ---------------SERVICIOS----------------- */

    .fondoDos{
        height: 80px;
    }

    .fondoDos h2{
        font-size: 35px;
        padding-top: 18px;
    }

    .servicios{
        flex-direction: column;
        height: 500px;
    }

    .servicios div{
        flex-direction: row;
        width: 300px;
        margin: 10px;
        height: 150px;
    }

    .servicios div img{
        width: 100px;
        height: 100px;
    }

    .servicios div h3{
        font-size: 15px;
    }

    .servicios div p{
        font-size: 10px;
    }
}
